<!DOCTYPE html>
<html lang="en">
<head>
    <title>Заказ</title>
    <script type="module" src="../js/error.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
</head>
<body>
<%- include('../views/navbar.ejs')%>
<h1 style="margin-left: 10px">Something goes wrong!</h1>
<div class="flexspace"></div>
<div class="footer"></div>
</body>
</html>