<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
    <link rel="stylesheet" type="text/css" href="/css/item.css">
    <script type="module" src="/js/item.js"></script>
</head>
<body>

<%- include('../views/navbar.ejs')%>
<div class="item-square mx-auto">
    <h4 class="dish-name">name</h4>
    <div class="item-inner-square mx-auto">
        <img src="" class="image-size mx-auto d-block">
        <div class="dish-category text-center"> Категория блюда -  </div>
        <div class="isVegetarian text-center">text</div>
        <br>
        <div class="dish-description text-center">text</div>
        <div class="star-box mx-auto">
            <div class="stars-outer">
                <div class="stars-inner"></div>
            </div>
        </div>
        <div class="dish-cost text-center">Цена: </div>
    </div>
</div>

<div class="flexspace"></div>
<div class="footer"></div>
</body>
</html>