<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
    <script type="text/javascript" src="/js/login.js"></script>

</head>
<body>
<%- include('../views/navbar.ejs')%>
<div class="square mx-auto">
    <h1 id="title">Авторизация</h1>
    <div>Email</div>
    <input class="data-field" type="text" name="name" required="required">
    <div>Пароль</div>
    <input class="data-field" type="password" name="name" required="required">
    <button class="register-button button"> Войти</button>
</div>
<div class="flexspace"></div>
<div class="footer"></div>
</body>
</html>