<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" type="text/css" href="../css/registration.css">
    <link rel="stylesheet" type="text/css" href="../css/orders.css">
    <script type="module" src="js/orders.js"></script>

</head>
<body>
<%- include('../views/navbar.ejs')%>
<div class="orders-square mx-auto">
    <div class="inside-square">
        <div>В корзине есть блюда, можно оформить заказ</div>
        <button class="place-button ">Оформить</button>
    </div>
    <h1>Последние заказы</h1>
    <div class="orders-list">
        <div class="order-box mx-auto " >
            <div class="orderDate">Заказ от <span class="date">20.04.2022</span></div>
            <div>Статус заказа - <span class="status">В обработке</span></div>
            <div class="delivered" >Доставлен: <span class="date">20.04.2022</span> <span class="time">18:25</span></div>
            <div class="unDelivered" style="display: none">Доставка ожидается в <span class="time">18:25</span></div>
            <div class="accept-button"></div>
        </div>

    </div>
</div>
<div class="flexspace"></div>
<div class="footer"></div>
</body>
</html>