<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/purchase.css">
    <script type="module" src="/js/purchase.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
</head>
<body>
<%- include('../views/navbar.ejs')%>
<div class="square-purchase mx-auto ">
<h1>Оформление заказа</h1>
<h3>Данные покупателя</h3>
<div class="row line-container">
    <div class="col phone">
        <div class="naming-string">Телефон</div>
        <div class="phone-number">+7 (913) 845-07-37</div>
    </div>

    <div class="col email">
        <div class="naming-string">Email</div>
        <div class="phone-number">example@mail.ru</div>
    </div>
</div>
    <h3>Данные доставки</h3>
<div class="row line-container">
     <div class="col address">
         <div class="naming-string-2">Адрес</div>
         <input type="text" class="data-field-address data-field">
     </div>
    <div class="col delivery-time">
        <div class="naming-string-2">Время доставки</div>
        <input type="datetime-local" class="data-field-time data-field">
    </div>
</div>
    <div>Список блюд:</div>
    <div class="dish-list">
        <div class="cart-dish-box mx-auto "style="display: none" >
            <div class="row">

                <div class="container  col-md-auto">
                    <img class="image-size align-bottom" src="https://s1.1zoom.ru/big3/984/Canada_Parks_Lake_Mountains_Forests_Scenery_Rocky_567540_3840x2400.jpg">
                </div>

                <div class="block col-md-auto">
                    <div class="dish-name">textfefefebrbr</div>
                    <div class="dish-cost">Цена: </div>
                    <div class="dish-order-amount">Количество: </div>
                </div>
            </div>
            <div class="full-cost"><span style="font-weight: bold">Стоимость: </span><span class="full-dish-price">1000</span> <span> руб</span></div>
        </div>

    </div>
<div class="order-cost"><span style="font-weight: bold">Стоимость заказа: </span><span class="full-order-price">1000</span> <span> руб.</span></div>
    <button class="accept-button">Подтвердить заказ</button>
</div>
<div class="flexspace">  </div>
<div class="footer"></div>
</body>
</html>