.cart-square{
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.10);
    padding: 10px 1%;
    box-sizing: border-box;
    width:85%;
    min-width: 215px;
}
.cart-dish-box{
    position: relative;
    width: 100%;
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    min-height:90px ;
}
.image-size{
    height: 90%;
    width: 180px;
    align-items: center;
    float: left;
    border-radius: 40px;
}
.dish-name{
    font-size: 20px;
    font-weight: bold;
}

.container{
    display: flex;
    float: left;
    height: 90px;
    width: 180px!important;
    align-items: center;
    margin-left: 0px!important;
    margin-right: 20px!important;
}
.col-md-auto{
    margin-left: 5px!important;
}
.delete-button{
    background-color: #DC3545;
    border-radius: 5px;
    border-width: 0px;
    color: white;
    height: 30px;
    width: 80px;
}
.input-number{
    max-width: 80px;
    width: 30px;
    background-color: #F8F9FA;
    text-align: center;
}
.inside{
    padding-top: 5px;
}
.input-group{
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    padding: 0px!important;
    border-radius: 5px;
    max-width: 75px!important;
    background-color: #F8F9FA;
}
.button2{
    border-width: 0px;
    background-color: #F8F9FA;
    border-radius: 5px;
}
.input-number{
    border-width: 0px;
}
@media screen and (min-width: 768px) {
    .delete-button{
        position: absolute;
        top:10px;
        right:10px;
    }

    }

@media screen and (max-width: 768px) {
    .delete-button{
        position: absolute;
        bottom:5px;
        right: 10px;
    }
    .input-group{
        margin-left: 10px;
        margin-bottom: 5px;
    }
}
