.dish-box{
    position: relative;
    display: inline-block;
    width:250px;
    height:400px ;
    margin: 1em;
    border-width:1px;
    border-style: solid;
    border-color: lightgrey;
    min-height: 100%;
    flex-direction: column;
    position:relative;
    vertical-align: top;
}
.add-button {
    background-color: #0D6EFD;
    border-width: 0px;
    border-radius: 3px;
    color:white;
    line-height:25px;
    width: 50px;

}
.filter-button{
    background-color: #0D6EFD;
    border-width: 0px;
    border-radius: 3px;
    color:white;
    line-height:25px;
    width: 100px;

}
.dish-footer{
    min-height: 38px;
    position: absolute;
    bottom: 0;
    right: 12px;
    left: 12px;
    background-color: #F8F9FA;
    font-size: 12px;
    color: black;
    line-height: 10px;
    flex-shrink: 0;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
    padding: 5px 5px;
}
.image-size{
    position: center;
    width: 100%;
    height: 140px;
}
.padding-box{

    padding: 0px 10px;
}
.category-name{
    font-size: 12px;
}
.dish-name{
    margin-bottom: 0px;
}
.dish-text{
    font-size: 10px;
}
.dish-cost{
    display: flex;
    align-items: center;
}
.switch {
    margin-top: 0%;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    border: lightgrey 2px solid;
    border-radius: 60px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 1px;
    bottom: 0px;
    background-color: lightgrey;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: white;
}

input:focus + .slider {
    box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.nav-item-2{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.marg{
    margin-left: 20px;
}
.second-navbar{
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    border-radius: 3px;
}
.container-fluid{
    box-sizing: border-box;
}
.choose-bar{
    width: 200px;

}
.selector{
    width: 100%;

}
.navbar-toggler-2{
    margin-bottom: 10px;
}
.menu-square {
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.10);
    padding: 10px 1%;
    box-sizing: border-box;
    width:63%;
    min-width:290px;
}
.dish-flex{
    height: 120px;
}
.input-number{
    max-width: 80px;
    width: 30px;
    background-color: #F8F9FA;
    text-align: center;
}
.inside{
    padding-top: 5px;
}
.input-group{
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    padding: 0px!important;
    border-radius: 5px;
}
.button2{
    padding-top:3px!important;
    border-width: 0px;
    background-color: #F8F9FA;
    border-radius: 5px;
}
.input-number{
    border-width: 0px;
}
.vegetarian{
    position: absolute;
    top:110px;
    right:5px;
    height: 25px;

}
.stars-outer{
    position: relative;
    display: inline-block;
}
.stars-inner{
    position: absolute;
    top:0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
.stars-outer::before{

    content: "\f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 100;
    color: black;

}
.stars-inner::before{
    content: "\f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
}
.star-box{
    text-align: center;
    border-width: 1px!important;
    position: relative;
    border-style: solid;
    border-color: lightgrey;
}