.order-square{
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.10);
    padding: 10px 1%;
    box-sizing: border-box;
    width:85%;
    min-width: 500px;
}
h1 {
    background-color: #F7F7F7;
    padding: 10px;
    border-radius: 6px;
    width:100%!important;
}
.inner-box{
    box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.10);
    padding: 10px 1%;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
}
.cart-dish-box{
    position: relative;
    width: 100%;
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    min-height:90px ;
    padding-left: 10px;
}
.dish-name{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 4px;
}
.dish-cost{
    padding-bottom: 4px;
}
.container{
    display: flex;
    float: left;
    height: 90px;
    width: 160px!important;
    align-items: center;
    margin-left: 0px!important;
    margin-right: 20px!important;
}
.col-md-auto{
    margin-left: 5px!important;
}
.full-cost{
    position: absolute;
    bottom: 10px;
    right:40px;
}
.dish-list{
    margin-bottom: 15px;
}
.image-size{
    height: 90%;
    width: 160px;
    align-items: center;
    float: left;
    border-radius: 35px;
}